/*! normalize.css 2011-10-24T11:29 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Verdana,sans-serif}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/*YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/ */.yui3-g{letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em}.yui3-u,.yui3-u-1,.yui3-u-1-2,.yui3-u-1-3,.yui3-u-2-3,.yui3-u-1-4,.yui3-u-3-4,.yui3-u-1-5,.yui3-u-2-5,.yui3-u-3-5,.yui3-u-4-5,.yui3-u-1-6,.yui3-u-5-6,.yui3-u-1-8,.yui3-u-3-8,.yui3-u-5-8,.yui3-u-7-8,.yui3-u-1-12,.yui3-u-5-12,.yui3-u-7-12,.yui3-u-11-12,.yui3-u-1-24,.yui3-u-5-24,.yui3-u-7-24,.yui3-u-11-24,.yui3-u-13-24,.yui3-u-17-24,.yui3-u-19-24,.yui3-u-23-24{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top}.yui3-u-1{display:block}.yui3-u-1-2{width:50%}.yui3-u-1-3{width:33.33333%}.yui3-u-2-3{width:66.66666%}.yui3-u-1-4{width:25%}.yui3-u-3-4{width:75%}.yui3-u-1-5{width:20%}.yui3-u-2-5{width:40%}.yui3-u-3-5{width:60%}.yui3-u-4-5{width:80%}.yui3-u-1-6{width:16.656%}.yui3-u-5-6{width:83.33%}.yui3-u-1-8{width:12.5%}.yui3-u-3-8{width:37.5%}.yui3-u-5-8{width:62.5%}.yui3-u-7-8{width:87.5%}.yui3-u-1-12{width:8.3333%}.yui3-u-5-12{width:41.6666%}.yui3-u-7-12{width:58.3333%}.yui3-u-11-12{width:91.6666%}.yui3-u-1-24{width:4.1666%}.yui3-u-5-24{width:20.8333%}.yui3-u-7-24{width:29.1666%}.yui3-u-11-24{width:45.8333%}.yui3-u-13-24{width:54.1666%}.yui3-u-17-24{width:70.8333%}.yui3-u-19-24{width:79.1666%}.yui3-u-23-24{width:95.8333%}
html {background-color: #FFF;}
body       {margin: auto;font-size: 90%;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
body.fixed {width: 1004px;}
body.fluid {width: 100%;}


a:link {text-decoration: underline;color: #36c;}
a:visited {text-decoration: underline;color: #36c;}/*#99c*/
a:hover {text-decoration: none;color: #393;}
a:active, a:focus {text-decoration: underline;color: #000;}


table {border-top: 1px solid #ccc;  border-left: 1px solid #ccc;}
th, td {padding: 0.5em 0.8em;border-bottom: 1px solid #ddd; border-right: 1px solid #ccc;}
th {background-color: #C3D9FF;vertical-align: top;}

table.no_border,
table.no_border th, 
table.no_border td {
    border: none;
}
table.row_highlight tr:hover {
    cursor: pointer;
    background-color: #FFB;
}


.alt_color0 {background-color: #FFFFFF;}
.alt_color1 {background-color: #E8EFFB;}


#file_browser {
    border: 1px solid #DDD;
}
#file_browser ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #FFF;
}
#file_browser li {
    line-height: 24px;
    margin: 0;
    padding-left: 32px;
    cursor: pointer;
    font-weight: normal;
}
#file_browser li:hover{
    font-weight: bold;
}
#file_browser li.is_dir, 
#file_browser li.is_file {
    background-size: auto 16px;
    background-repeat: no-repeat;
    background-position: 6px 4px
}


/** CSS3 Loading Graphic **/
#circleLoading{width:56px;}
.circleLoading{
    background-color:#FFF;
    float:left;
    height:12px;
    margin-left:6px;
    width:12px;
    -moz-animation-name:bounce_circleLoading;
    -moz-animation-duration:2.4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:8px;
    -webkit-animation-name:bounce_circleLoading;
    -webkit-animation-duration:2.4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:8px;
    -ms-animation-name:bounce_circleLoading;
    -ms-animation-duration:2.4s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:8px;
    -o-animation-name:bounce_circleLoading;
    -o-animation-duration:2.4s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:8px;
    animation-name:bounce_circleLoading;
    animation-duration:2.4s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:8px;
}
#circleLoading_1{
    -moz-animation-delay:0.48s;
    -webkit-animation-delay:0.48s;
    -ms-animation-delay:0.48s;
    -o-animation-delay:0.48s;
    animation-delay:0.48s;
}
#circleLoading_2{
    -moz-animation-delay:1.12s;
    -webkit-animation-delay:1.12s;
    -ms-animation-delay:1.12s;
    -o-animation-delay:1.12s;
    animation-delay:1.12s;
}
#circleLoading_3{
    -moz-animation-delay:1.44s;
    -webkit-animation-delay:1.44s;
    -ms-animation-delay:1.44s;
    -o-animation-delay:1.44s;
    animation-delay:1.44s;
}
@-moz-keyframes bounce_circleLoading {
    0% {}
    50% { background-color:#999999 }
    100%{}
}
@-webkit-keyframes bounce_circleLoading{
    0%{}
    50%{background-color:#999999}
    100%{}
}
@-ms-keyframes bounce_circleLoading{
    0%{}
    50%{background-color:#999999}
    100%{}
}
@-o-keyframes bounce_circleLoading{
    0%{}
    50%{background-color:#999999}
    100%{}
}
@keyframes bounce_circleLoading{
    0%{}
    50%{background-color:#999999}
    100%{}
}